{% extends 'layout.html.twig' %}

{% block title %} Home | Élevage du paradis des Petits Cracks {% endblock %}
{% block stylesheet %}
    <link rel="stylesheet" href="/assets/css/home.css">
{% endblock %}

{% block content %}
    <header class="header-background container-fluid ">
        <div class="col-md-6 col-sm-12 d-flex flex-column">
            <div class="h-50 d-flex flex-column m-5">

            <h1 class="d-none">Elevage du paradis des petits cracks</h1>
            <img src="/assets/images/logo-ptits-cracks-du-paradis.png" alt="logo-paradis des petits cracks" class="w-100 align-self-center m-5">
            <p class="align-self-center text-center p-2">Élevage de <strong>chihuahua poils courts et poils longs</strong> inscrit au <strong>LOF</strong></p>
            <p class="align-self-center text-center p-2">En <strong>région Centre</strong> à une heure de Paris et d’Orléans </p>
            <a href="Breeding/index" class="btn btn-lg button-pc w-50 align-self-center m-5" >Plus d'informations</a>
            </div>
        </div>

    </header>
    <section class="home-puppies">

    </section>

    <section class="home-actualities">

    </section>
{% endblock %}
