{% extends 'layout.html.twig' %}
{% block title %}Notre élevage{% endblock %}

{% block stylesheet %}<link rel="stylesheet" href="/assets/css/breeding.css">{% endblock %}
{% block content %}



    <div class="carousel-board section-carousel">
        <div class="d-flex flex row justify-content-center">
            <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                <div>
                    <ol class="carousel-indicators">
                        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                        <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                    </ol>
                </div>

                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img class="carouselImg" src="/assets/images/carousel_photo1.jpg" alt="First slide">
                    </div>
                    <div class="carousel-item ">
                        <img class="carouselImg" src="/assets/images/carousel_photo2.jpg" alt="Second slide">
                    </div>
                    <div class="carousel-item">
                        <img class=" carouselImg" src="/assets/images/carousel_photo3.jpg" alt="Third slide">
                    </div>
                </div>
                <div>
                    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                        <img src="/assets/images/dog-pat-arrow-prev.png" alt="prev-icon">
                    </a>
                    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                        <img src="/assets/images/dog-pat-arrow-next.png" alt="prev-icon">
                    </a>
                </div>
            </div>
        </div>
    </div>

    <section class="presentation-picture py-5">

        <div class="row d-flex flex-column align-items-center align-content-center">

            <div class="col-12 d-flex flex-column align-items-center py-5">
                <h1 class="title text-white-shadow">Présentation</h1>
                <img class="mainImg orange-solid img-fluid" src="/assets/images/dog_raiser.jpg" alt="raiser_photo mb-5">
            </div>
        </div>
        </section>
        <section class="presentation-text py-5">
            <div class="d-flex flex row justify-content-center">

            <div class="col-md-6 text Presentation text d-flex flex-column text-center">
                <p class="pt-5">
                    <strong>Passionnée de nature et d'animaux </strong>depuis ma plus tendre enfance,
                    je suis tombée il y a quelques années déjà sous le charme de ce <strong>petit
                    bout de chien extraordinaire</strong> et j'ai acquis ma première puce pour la plus grande
                    joie de mes enfants en 2004.
                </p>
                <p>
                    Je participe régulièrement à de <strong>nombreuses expositions
                    canines</strong> avec ma fille à qui j'ai donné cette passion pour <strong>ce chien au grand coeur qu'est le chihuahua</strong>.
                </p>
                <p>
                    Ainsi je suis membre du club du Chihuahua, du Coton de Tuléar et des Exotiques.
                </p>
                <p class="pb-5">
                    Je vais essayer aussi modestement d'avoir de <strong>beaux petits lutins équilibrés</strong>,
                    en bonne santé et bien dans "leurs pattes" pour que <strong>vous puissiez vivre un amour
                    sans limite avec votre futur petit compagnon.</strong>
                </p>
            </div>
        </div>

    </section>

    <section class="presentation-picture py-5">

        <div class="row d-flex flex-column align-items-center align-content-center">
            <div class="col-12 d-flex flex-column align-items-center headerPresentation presentation">
                <h2 class="pt-5">Mes Chiens</h2>
                <h3 class="title pb-3">Chihuahuas Poils Longs Et Poils Courts</h3>
                <img class="mainImg img-fluid orange-solid mb-5" src="/assets/images/breeding_photo.jpg " alt='sight_breeding'>
            </div>
        </div>
    </section>
    <section class="presentation-text py-5">
        <div class="row d-flex flex-column align-items-center align-content-center">
            <div class="col-md-6 d-flex flex-column align-items-center text textPresentation">
                <p class="pt-3">
                    Chiens <strong>inscrits au livre des origines françaises</strong>.
                </p>
                <p>
                    <strong>Excellentes origines.</strong>
                </p>
                <p>
                    <strong>Élevage situé en Région Centre</strong>, à 150 kms de Paris et d'Orléans et 70 de Bourges, Nevers, Auxerre.
                </p>
                <p>
                    <strong>Garantie de suivi et conseils </strong>toute la vie de votre petit compagnon.
                </p>
                <p class="pb-3">
                    <strong>Tous les chiens adultes de l'élevage sont testés ADN</strong>,
                    ce test sera fait aussi pour les futurs reproducteurs, ce qui permet
                    de prouver la parenté de mes chiots.
                </p>
                <p>
                   Tous mes adultes reproducteurs sont <strong>testés et vérifiés </strong>tous les ans lors de leur rappel de vaccin, je peux
                    donc vous montrer l' attestation des rotules et la carte d' identification ADN
                    des parents de votre futur chiot en cas de besoin.
                </p>
            </div>
        </div>
    </section>

{% endblock %}

