{% extends 'layout.html.twig' %}

{% block stylesheet %}<link rel="stylesheet" href="/assets/css/actuality.css">{% endblock %}

{% block title %}Actualités{% endblock %}



{% block content %}
    <div class="container">
        <h1 class="title text-center mt-5"> Nos actualités </h1>
        <div class="row mt-5 mb-5">
            {% for actuality in actualities %}
                {% include 'Actuality/cardActuality.html.twig' %}
            {% endfor %}
        </div>
    </div>
{% endblock %}
