{% extends 'layout.html.twig' %}


{% block title %}Description actualité{% endblock %}



{% block content %}
    <div>
    <h1>{{ actuality.title }}</h1>
    </div>
    <div class="container">
        <div class="card">
            <img src="https://via.placeholder.com/500" class="card" alt="{{ actuality.title }}">
        </div>
            <p>{{ actuality.description }}</p>
    </div>

    <a href="/actuality/index" class="btn btn-warning">Retour à la liste des actualités</a>
{% endblock %}
