:root{
    --max-height-card : 40px
}

.card-horizontal {
    background-color: var(--secondary-color);
    flex: 1 1 auto;
}
.actuality-text{
    object-fit: scale-down;
}
.img-actuality{
    min-width: 400px;
    height: 300px;
    object-fit: cover;
}
.btn{
    background-color: var(--dark-color);
    border-color: var(--dark-color);
    max-height: var(--max-height-card);
}
.btn:hover{
    background-color: var(--main-color);
    border-color: var(--main-color);
}
.btn:active{
    background-color: var(--main-color);
    border-color: var(--main-color);
}
.div-btn{
    max-height: var(--max-height-card);
    max-width: 140px;
}
.card-title{
    font-size:var(--fontsize-card-title);
    object-fit: contain;
}

.card-date{
    font-size: var(--fontsize-small-text);
}

.actuality-text{
    max-width: 500px;
}

.descText{
    font-size: var(--fontsize-text);
}
.card-title-actuality{
    color: var(--dark-color);
}

.button-dark {
    background-color: var(--dark-color);
    font-family: var(--font-text);
    font-weight: 500;
    letter-spacing: -1px;
    color: var(--light-color);
    font-size: var(--fontsize-small-text);
    padding: var(--spacing1);
}