.card-horizontal {
    background-color: var(--secondary-color);
    flex: 1 1 auto;
}
.actuality-text{
    object-fit: contain;
}
.img-actuality{
    max-width: 600px;
    max-height: 400px;
    object-fit: fill;
}
.btn{
   background-color: var(--dark-color);
    border-color: var(--dark-color);
    width: 130px;
    max-height: 40px;
}
.btn:hover{
    background-color: var(--main-color);
    border-color: var(--main-color);
}

.div-btn{
    max-height: 40px;
    max-width: 140px;
}
.card-title{
    font-size: 30px;
    object-fit: contain;
}

.card-date{
    font-size: 16px;
}

.actuality-text{
    max-width: 550px;
}

.descText{
    font-size: 20px;
}
.card-title-actuality{
    color: var(--dark-color);
}
