form, table {
    font-family: var(--font-text);
    color: var(--dark-color);
    padding-bottom: var(--spacing4);
}

.admin-title {
    text-align: center;
    margin-bottom: var(--spacing4);
}

.form-errors {
    color: darkred;
    padding: var(--spacing2) 0;
}

.submit-button {
    background-color: var(--main-color);
    font-family: var(--font-title);
    margin: var(--spacing3);
    padding: var(--spacing1) var(--spacing2);
}

.alert:empty {
    display: none;
}

