form, table {
    font-family: var(--font-text);
    color: var(--dark-color);
    padding-bottom: var(--spacing4);
}

h1 {
     text-align: center;
 }

h2 {
    color: var(--dark-color);
}
.admin-title {
    text-align: center;
    margin-bottom: var(--spacing4);
}

.form-errors {
    color: darkred;
    padding: var(--spacing2) 0;
}

.submit-button {
    background-color: var(--main-color);
    font-family: var(--font-title);
    margin: var(--spacing3);
    padding: var(--spacing1) var(--spacing2);
}

.btn-danger-show {
    font-family: var(--font-title);
}

.img-thumbnail {
    max-width: 300px;
}
