.dog{
    margin-top: 50px;
}

.card img{
    width: 200px;
    height: 250px;
}

.card{
    background-color: var(--secondary-color);
}


.card-body a {
    background-color: var(--dark-color);
    border: none;
    color : var(--light-color);
    font-weight:bold;
}

.card-body a:hover{
    background-color: var(--main-color);
}