.dog{
    margin-top: 50px;
}
.section{
    background-color: var(--secondary-color);
}
.card img{
    width: 60%;
    height: 50%;
    max-width: 150px;
}

.cardDog{
    background-color: #c1c1c1;
    height: 380px;
}
.dogName{
    font-family: var(--font-title);
}
.titleDog{
    color: var(--dark-color);
}
.birthday{
    font-size: 15px;
}
.card-body a {
    background-color: var(--dark-color);
    border: none;
    color : var(--light-color);
    font-weight:bold;
}

.card-body a:hover{
    background-color: var(--main-color);
}