.dog{
    margin-top: 50px;
}
.section{
    background-color: var(--secondary-color);
}
.div-img-dog{
    width: auto;

}
.card img{
    width: 200px;
    height: 200px;
 object-fit: fill;
}

.cardDog{
    background-color: var(--light-color);
    height: auto;
    max-width: 400px;
}
.dogName{
    font-family: var(--font-title);
    font-size: 25px;
}
.titleDog{
    color: var(--dark-color);
}

.femelle{
    background-color: var(--light-color);
}
.femelle .cardDog{
    background-color: var(--secondary-color);
}
.forDog{
    width: 90%;
}
.birthday{
    font-size: 15px;
}
.card-body a {
    background-color: var(--dark-color);
    border: none;
    color : var(--light-color);
    font-weight:bold;
}

.card-body a:hover{
    background-color: var(--main-color);
}