:root {
    --box-shadow-color: rgba(227, 220, 204, 1);
    --font-medium-title: medium;
}

.main-info, .parents-info {
    background-color: var(--light-color);
}

.secondary-info {
    background-color: var(--secondary-color);
}

h3 {
    font-size: calc(var(--fontsize-main-title) * 0.8);
}

.margin-top {
    margin-top: var(--spacing4);
}
.individual-dog-picture {
    width: calc(var(--spacing4)*12);
    height: calc(var(--spacing4)*12);
    border: var(--spacing1) solid var(--main-color);
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: var(--spacing4);
}

th {
    width: 30%;
    text-align: center;
    border: 1px solid var(--dark-color);
    background-color: var(--main-color);
    font-family: var(--font-title);
    font-size: var(--font-medium-title);
}

td {
    font-size: large;
    border: 1px solid var(--dark-color);
    text-align: center;
    background: var(--light-color);
    font-family: var(--font-text);
}

.link-data {
    color: var(--dark-color);
}

.link-data:hover {
    text-decoration: underline;
}

.button-main {
    background-color: var(--main-color);
    font-family: var(--font-text);
    font-size: var(--fontsize-text);
    color: var(--dark-color);
    font-weight: 500;
    letter-spacing: -1px;
    margin: var(--spacing3);
    padding: var(--spacing1) var(--spacing2);
}

.text-white-shadow {
    text-shadow: 1px 1px 3px var(--light-color);
}

.card-description {
    width: 90%;
    margin-top: -3em;
    background-color: var(--light-color);
}
.card {
    background: transparent;
}

.card-img-top {
    width: 100%;
    height: 300px;
    object-fit: cover;
}

.button-secondary {
    background-color: var(--secondary-color);
    font-family: var(--font-text);
    font-weight: 500;
    letter-spacing: -1px;
    font-size: var(--fontsize-small-text);
    padding: var(--spacing1);
}
