.header-background {
    background-image: url("/assets/images/header_background.jpg");
    background-size:cover;
    background-repeat: no-repeat;
    min-height: 60vh;
    background-position: center;
    background-attachment: fixed;
    top: 0;
    ;
}

.home-actualities {
    background-color: var(--secondary-color);
}