:root {
    --box-shadow-color: rgba(227, 220, 204, 1);
    --font-medium-title: medium;
}

main {
    margin: var(--spacing4);
}
.footer {
    margin-bottom: 0;
}


.mb-1, .individual-dog-picture {
    margin-bottom: var(--spacing4) !important;
}

.mb-top {
    margin-top: var(--spacing4);
}
.individual-dog-picture {
    width: max-content;
    height: calc(var(--spacing4)*10);
}

.parent-img, .individual-dog-picture {
    object-fit: cover;
}

.unknow {
    filter: sepia(100%);
}

.fact {
    margin-top: var(--spacing3);
}

.btn-primary {
    margin-left: var(--spacing4);
    width: 100px;
    height: calc(var(--spacing1)*5);

}

.btn {
    text-align: center;
    background-color: var(--main-color) !important;
    border-color: var(--main-color) !important;
}

.border-picture {
    border-width: 10px !important;
    border-color: var(--main-color) !important;
    height: content-box;
}

th {
    width: 30%;
    text-align: center;
}

td {
    font-size: large;
}

.border-picture2 {
    box-shadow: -2px -4px 0 2px var(--main-color);
    max-width: max-content;
}

.father-content, .mother-content {
    max-width: max-content !important;
    text-align: center;
}

.mother-content {
    padding-right: 15px;
}
.title-parent .h2 {
    color: var(--light-color) !important;
}
.title-parent {
    height: calc(var(--spacing1)*5);
    margin-bottom: 16px;
}

.title-content-name, .w-50{
    width: 40% !important;
}

.title-content-name, .title-parent {
    background-color: var(--light-color);
    box-shadow: 2px 2px var(--spacing1) var(--spacing1) var(--box-shadow-color) inset;
}

.recorded-content {
    width: 100%;
    margin: 0;
    text-align: center;
}
.recorded-content {
    padding: 0;
}

#id, .text {
    text-align: center;
    font-size: var(--font-medium-title);
    font-style: var(--font-text);
}

.content-parent {
    background-color: var(--secondary-color);
    border: 1px solid unset;
    padding: var(--spacing2) 0;
    box-shadow: 0 var(--spacing2) var(--spacing3) var(--spacing1) var(--box-shadow-color);
    width: 70%;
}
.content-top-parent {
    background-color: var(--secondary-color);
    border: 1px solid unset;
    box-shadow: 0 var(--spacing2) var(--spacing3) var(--spacing1) var(--box-shadow-color);
    width: 70%;
}

.characteristic {
    background-color: var(--secondary-color);
    box-shadow: 1px 0 1px 1px var(--box-shadow-color);
}

.description {
    text-align: center;
}

h2, h3 {
    font-style: var(--font-title);
    color: var(--dark-color);
    text-align: center;
}

span {
    margin: var(--spacing2) auto;
}

h3 {
    color: var(--dark-color);
}



@media screen and (max-width: 680px){

    main {
        margin: 0;
    }
    .mother-content {
        margin-top: var(--spacing1);
    }

    .content-top-parent, .content-parent, .table, .title-content-name{
        width: 100% !important;
    }

    .content-parent {
        flex-direction: column;
    }
}