:root{
    --font-size-navbar: 28px;
}

.navbar {
    background-color: var(--main-color);
    top: 0;
    position: fixed;
    width: 100%;
    padding: var(--spacing2);
    z-index: 1;
}

.nav-link{
    color: var(--dark-color);
    font-family: var(--font-title);
    font-size: var(--font-size-navbar);
}

.nav-link:hover{
    color: var(--secondary-color);
}

