:root {
    --main-color: #6B7A8F;
    --secondary-color: #F7882F;
    --light-color: #fff7ed;
    --dark-color: #2A2A2A;
    --font-family:’Montserrat’, sans-serif ;
    -–font-title:’Lobster’, sans-serif ;
}
