{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-8">
                <section>
                    <div>
                        <h2>Présentation</h2>
                    </div>
                    <div>
                        <p>
                            Passionnée de nature et d'animaux depuis ma plus tendre enfance,
                            je suis tombée il y a quelques années déjà sous le charme de ce petit
                            bout de chien extraordinaire et j'ai acquis ma première puce pour la plus grande
                            joie de mes enfants en 2004. Je participe régulièrement à de nombreuses expositions
                            canines avec ma fille à qui j'ai donné cette passion pour ce chien au grand coeur qu'est le chihuahua.
                        </p>
                        <p>
                            Ainsi je suis membre du club du Chihuahua, du Coton de Tuléar et des Exotiques.
                        </p>
                        <p>
                            Je vais essayer aussi modestement d'avoir de beaux petits lutins équilibrés,
                            en bonne santé et bien dans "leurs pattes" pour que vous puissiez vivre un amour
                            sans limite avec votre futur petit compagnon.
                        </p>
                    </div>
                    <div>
                        <h3>Me DUVAL Magali</h3>
                        <ul>
                            <li>Fixe : 02 38 31 69 13</li>
                            <li>Mobile : 06 18 47 54 45</li>
                            <li>Mail : magali.duval25@gmail.com</li>
                        </ul>
                        <p>Ci-dessus mes coordonnées pour me contacter</p>
                    </div>
                </section>

            </div>
        </div>
    </div>
{% endblock %}

