{% extends 'layout.html.twig' %}
{% block title %}Nos Chiens{% endblock %}
{% block stylesheet %}
    <link rel="stylesheet" href="/assets/css/dog_General.css">
{% endblock %}
{% block content %}
    <h1 class="text-center mt-5">Nos Chiens</h1>
    <section class = "dog">
    <div class=" section card m-xl-5 ">
        <div class="card-body">
            <h3 class="titleDog text-center p-4 pt-5">Nos Males</h3>
            <div class=" container-fluid row mx-auto justify-content-center">
            {% for male in males %}
                {%include 'Dog/card.html.twig' with {'dog': male} %}
            {%  endfor %}
            </div>
        </div>
    </div>
        <div class=" section card m-xl-5">
        <div class="femelle card-body">
        <h3 class="titleDog text-center p-4 pt-5">Nos Femelles</h3>
            <div class="forDog container-fluid row mx-auto justify-content-center ">

            {% for female in females %}
                {%include 'Dog/card.html.twig' with {'dog': female} %}
                    {%  endfor %}
            </div>
            </div>
        </div>
        <div class=" section card m-xl-5">
        <div class="card-body">
           <h3 class="titleDog text-center p-4 pt-5">Nos Chiots</h3>
           <div class="container-fluid row mx-auto justify-content-center">
               {% for puppie in puppies %}
               {%include 'Dog/card.html.twig' with {'dog': puppie}%}
               {%  endfor %}
           </div>
           </div>
        </div>
    </section>
{% endblock %}
