<div class="footer row container-fluid d-flex justify-content-around mx-auto">
<div class= "col-md-2 text-center">
        <h2>Contact</h2>
            <ul>
                <li>magali.duval@elevage.fr</li>
                <li>02 38 31 69 13</li>
                <li>06 18 47 54 45</li>
                <li>SIREN : 522006733</li>
            </ul>
    </div>
    <div class="col-md-2 text-center">
        <br>
        <ul>
            <li class="pb-5">Retrouvez-nous sur <a href="https://www.facebook.com/Magaliduval4/" target="_blank"><img src="/assets/images/facebook.png" alt="facebook_logo"></a></li>
            <li><a href="/Legal/index">Mentions légales</a></li>
        </ul>

    </div>
</div>
