{% block nav %}

    <nav class="navbar navbar-expand-lg navbar-light justify-content-between">
        <a class="navbar-brand" href="#">
        <img class="d-lg-none align-top"  height="50" src="/assets/images/logo-ptits-cracks-du-paradis.png" alt="logo_élevage_ptit_cracks">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-around" id="navbarNavAltMarkup">
                <a class="nav-link" href="#">Notre élevage</a>
                <a class="nav-link" href="Dog/index">Nos chiens</a>
                <img class="d-lg-inline-block align-top d-none" src="/assets/images/logo-ptits-cracks.png" alt="logo_élevage_ptit_cracks">
                <a class="nav-link" href="#">Nos actualités</a>
                <a class="nav-link" href="#">Contact</a>
        </div>
    </nav>
{% endblock %}