{% extends 'layout.html.twig' %}
{% block content %}
    <section class="contact">
        <div class="box">
            <div class="container">
                <div class="row">

                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                        <div class="box-part text-center">
                            <img src="/assets/images/call.png">
                            <div class="title">
                                <h4>Téléphone</h4>
                            </div>
                            <div class="text">
                                <span>Fixe : 02 38 31 69 13 </span>
                                </br>
                                <span>Mobile : 06 18 47 54 45 </span>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                        <div class="box-part text-center">
                            <img src="/assets/images/home.png">
                            <div class="title">
                                <h4>Adresse</h4>
                            </div>
                            <div class="text">
                                <span>1 Route des Carres Les Perdreaux, 45630 Beaulieu-sur-Loire</span>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                        <div class="box-part text-center">
                            <img src="/assets/images/mail.png">
                            <div class="title">
                                <h4>Mail</h4>
                            </div>
                            <div class="text">
                                <span>magali.duval@elevage.fr</span>
                            </div>

                        </div>
                    </div>

                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                        <div class="box-part text-center">
                            <img src="/assets/images/facebook.png">
                            <div class="title">
                                <h4>Facebook</h4>
                            </div>
                            <div class="text">
                                <span>Retrouvez nos actualitées sur <a href="https://www.facebook.com/Magaliduval4/"> facebook </a> </span>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                        <div class="box-part text-center">
                            <img src="/assets/images/pawprint.png">
                            <div class="title">
                                <h4>Chiots de france</h4>
                            </div>
                            <div class="text">
                                <span>Venez voir nos autres chiens disponible sur <a href="https://www.chiots-de-france.com/">chiots de france</a> </span>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                        <div class="box-part text-center">
                            <img src="/assets/images/dog-and-man.png">
                            <div class="title">
                                <h4>CCCE</h4>
                            </div>
                            <div class="text">
                                <span>Rejoignez nous au <a href="http://www.ccce.org/index.html"> club du chihuahua, du coton de tulear et des exotiques</a> </span>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </section>
    <section class="contact container">
        <h2 class="text-center">Nous Contacter</h2>
        <form action="#" method="post" class="mx-md-5 mt-5 mb-3">
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="firstname">Prénom :</label>
                    <input type="text" class="form-control" name="firstname" id="firstname" placeholder="John">
                </div>
                <div class="form-group col-md-6">
                    <label for="lastname">Nom :</label>
                    <input type="text" class="form-control" name="lastname" id="lastname" placeholder="Doe">
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="email">E-mail :</label>
                    <input type="email" class="form-control" name="email" id="email" placeholder="john.doe@test.com">
                </div>
                <div class="form-group col-md-6">
                    <label for="phone">Téléphone :</label>
                    <input type="tel" class="form-control" name="phone" id="phone"
                           placeholder="0203040506">
                </div>
            </div>
            <div class="form-group">
                <label for="topic">Sujet :</label>
                <select class="form-control" name="topic" id="topic">
                    <option value="">Sélectionnez un sujet</option>
                    <option value="">Message</option>
                    <option value="">Annonces</option>
                    <option value="">Signaler une erreur</option>
                    <option value="">Divers</option>
                    <option value="">Etalons</option>
                    <option value="">Pension</option>
                    <option value="">Toilletteur</option>
                </select>
            </div>
            <div class="form-group">
                <label for="comment">Message :</label>
                <textarea class="form-control" rows="5" name="comment" id="comment"></textarea>
            </div>
            <div class="form-check mt-5">
                <input type="checkbox" class="form-check-input" name="policy" id="check">
                <label class="form-check-label" for="check">J'ai lu et accepte la politique de confidentialité.</label>
            </div>
            <br>
            <div class="button mt-4 d-flex flex-column flex-sm-row">
                <button type="submit" class="btn">Envoyer</button>
                <button type="reset" class="btn">Annuler</button>
            </div>
        </form>
    </section>
{% endblock %}