{% extends 'layout.html.twig' %}
{% block content %}
    <section class="contact">
        <div class="box">
            <div class="container">
                <div class="row">

                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                        <div class="box-part text-center">
                            <img src="/assets/images/call.png">
                            <div class="title">
                                <h4>Téléphone</h4>
                            </div>
                            <div class="text">
                                <span>Fixe : 02 38 31 69 13 </span>
                                </br>
                                <span>Mobile : 06 18 47 54 45 </span>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                        <div class="box-part text-center">
                            <img src="/assets/images/home.png">
                            <div class="title">
                                <h4>Adresse</h4>
                            </div>
                            <div class="text">
                                <span>1 Route des Carres Les Perdreaux, 45630 Beaulieu-sur-Loire</span>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                        <div class="box-part text-center">
                            <img src="/assets/images/mail.png">
                            <div class="title">
                                <h4>Mail</h4>
                            </div>
                            <div class="text">
                                <span>magali.duval@elevage.fr</span>
                            </div>

                        </div>
                    </div>

                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                        <div class="box-part text-center">
                            <img src="/assets/images/facebook.png">
                            <div class="title">
                                <h4>Facebook</h4>
                            </div>
                            <div class="text">
                                <span>Retrouvez nos actualitées sur <a href="https://www.facebook.com/Magaliduval4/"> facebook </a> </span>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                        <div class="box-part text-center">
                            <img src="/assets/images/pawprint.png">
                            <div class="title">
                                <h4>Chiots de france</h4>
                            </div>
                            <div class="text">
                                <span>Venez voir nos autres chiens disponible sur <a href="https://www.chiots-de-france.com/">chiots de france</a> </span>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                        <div class="box-part text-center">
                            <img src="/assets/images/dog-and-man.png">
                            <div class="title">
                                <h4>CCCE</h4>
                            </div>
                            <div class="text">
                                <span>Rejoignez nous au <a href="http://www.ccce.org/index.html"> club du chihuahua, du coton de tulear et des exotiques</a> </span>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </section>
{% endblock %}